<a href="https://colab.research.google.com/github/katshalonskaya/Project-for-AoSN/blob/main/%22AoSN_data_ipynb%22_for_DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install -U -q PyDrive
import pandas as pd
import numpy as np
import os

In [1]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [2]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [5]:
downloaded = drive.CreateFile({'id':'1Szg3o8AAs0isPxaNnY7JbppmuIRkRtEK'})
downloaded.GetContentFile("Info_UserData.csv",  mimetype='csv')
usr = pd.read_csv('Info_UserData.csv')

In [6]:
usr.info
usr.dtypes
usr.duplicated().sum()
usr.head()

,uuid,gender,points,badges_cnt,first_login_date_TW,user_grade,user_city,has_teacher_cnt,is_self_coach,has_student_cnt,belongs_to_class_cnt,has_class_cnt
0,Y2RcCdmUJAYPUAIDElo4nE9KrkLLFzUIRdexG+ipaZQ=,NaN,18300,1,2019-01-24,1,kh,0,False,0,0,0
1,lw/Rchfvl9q1UDaQRmeE6QJDJeXAK7nt56RvUvqxD/8=,NaN,6468,0,2019-01-24,1,ntpc,1,False,0,1,0
2,ncVYyCw3osV77X9M+4NbI7LvBR5UiB4ix6Ca+baQArA=,male,4703,0,2019-01-24,1,tp,0,False,0,0,0
3,J7Tbo1x2WtRpPuXeX7lWT9tkzWlSJeubl8UWjNmHh+4=,NaN,15525,1,2019-01-24,2,ntpc,0,False,0,0,0
4,qijKzROzz1LmCaCxHJ3mOBOtjW/q4kW80tnpPmXHVYQ=,NaN,7945,0,2019-01-24,2,km,1,False,0,1,0

In [12]:
usr.isnull().sum() #39853 из 72758
usr = usr.dropna()

In [13]:
usrid = usr['uuid']
usridch = usrid.sample(n=50, replace = False)

In [14]:
usrch = usr.loc[usr['uuid'].isin(usridch)]

In [15]:
usrch.info

<bound method DataFrame.info of                                                uuid       gender  points  \
927    y7rXih/jc7NUjVvCTJ9IaCyHUsd0MXRTRz9s0qTzM6k=  unspecified   76099
1310   8QTcJ+3Gn35NRZipSENQWvxc5maGjW6UCBYt9AsfHe4=  unspecified   47780
2899   dRep0pJk1LhnRFUdlM/TMxe/St5hHHohBcOEpauCZjs=  unspecified    1050
6311   ubxkf9iTN1/m2uBKcTVBuZ3VsfSY23uo0fcpQ/OvDBY=         male    1950
9272   ZkXKNIGZN3n1g2KVMPEfLUSasmxAMKjDoBysAuh+JO8=  unspecified   66710
9456   aITD2v0aC/WMjEuVmeppR026YVWUixJLOHmo+EuQqx8=       female   83925
13404  Y9W+7D1uYbPjWFTJZFxZXiLU7LeAKsgKz9Vmf5A5Iiw=         male   64685
14171  C29WLWfnzVtK/AgHb+wI6rMad9e08yR/Ni3zz0pshgE=         male   29351
14749  7l+T364F1kRtw/FO7DiGhOcU4MllqdLclLhMpvGmUUE=         male  380544
17308  Y4HmVU50N3xmCit7+pefhZpKl2bPGtDI8yyBzLhup48=         male   23198
17478  YI4blKuasP278yspoUGrJNnWNxXIsWgw5EqOt0tXBps=         male   11550
18954  aLV1DV8+v+EjlR5xCIVtluzf+2Bk2muaSZ9GxW0i9qs=       female  127496
19629  xzVX314TOt5Wtl8eD5sX1tCTO+0DA+tHgqPDYr0RUKY=  unspecified  733623
20077  1/LsCWkmE/vv+iGuCUEGDrLzVxFG4TRHqqzsqz8cBL0=       female   45223
21209  P9+imR7zMF9+TyTYTPxQNoCaKeCLmYOxnlLMFldxUDI=       female  175350
22037  3QGtB00Y+Yndwwo44dD4F8Xcs4DjV5E22vXwPwoMT30=  unspecified   24000
23138  VvZRMvMgZGYIq7gwPrPbsaAhuswg9P/iww6tjA4ftjA=       female  180474
24717  TucRd53NHGvrxDHgYWthhTupRGytLUc9Suf5XKtaShc=       female   50308
24937  BUrduQxEdaT9zW+GRCYZpaaQl/tLsYRgL5+5lCFzXcc=  unspecified    6450
25687  eu7Mt0PlIa9nYl+eiyoF89+8armoLjRSGEQieoPt4OE=       female  237328
27104  djcVKMdNV1Df2kOZ0dB8aL0pglGEKuRgVMwSD7AlQCE=       female   33945
27424  FQ5EYGwybkgEkm/okf3SoRavjGz1GPGB+d/4FbFdDng=         male    2325
29381  ZFTBDEQOD9yk2JYDXgIMpMV7VvcxpHgW5fTMcP22+ng=  unspecified   98642
31279  FKHFVFQYqzMQNRNxYOMdLVfPfV8VaunzkTUF6NhJ93E=       female   90141
31670  jhN6HD1Q3Wot+3nlKPwY2rVN7XgJ5TSp1Q61+l5ykUQ=         male   73986
34086  7CjgaK5t+5RLBhXyPAP+VkPCtUO2LHmAFeWK433SDE0=         male   32953
34117  Vmj7yokXkAUsTuPhcKFVXW/Bh9Ai+Ku5/359sBKH6Es=         male   57203
36532  XJsL0+kEUji/wm/sJVVEpr6XyBt4H4JVeyM2622XKuw=         male    2025
38006  L4pu0gi1q5jB1taDU6j4aSibc36Zg3NXOMWN0pgvmOg=  unspecified    7614
39180  ZOOzwHCc3Zur2B9DN38K923GJbYQLW9yJOUI/20j4qw=         male  350504
40442  x2HKG6W3hp/NFSL7XdwzmfDgY6z1X6ze8TXlHlICT2I=       female  473572
40767  xO2zcWPS+bNjHSAmxI7b8leBCKM8Dt5sOyZPLFU2M2k=       female   35228
41645  w7WJG0BZ4Zap0MnGNAj4qRL0qPCFGMQZrctZd6YZn/8=       female   45948
43051  B/QezBc4Y0foCki6PJhwiLu0Hj6iD/cHIdiBXGS90QM=       female   13005
45800  mSW5QOFcQGxcA8bMfQfkTsGU4uMi1NcB1P9Mvs3Zxgw=         male  245164
47765  Id1pWaukhk09m1JdO02j8hp3Vm7HpIjgJVHRaK7Y02I=  unspecified    5449
48256  /TgWCApPZHYuRqaNSCgOZC5vDVLKqZ5l9SgWWAC0DA8=  unspecified   10460
49379  JGU29tWhb/lyOlHdt8AH4Xo2AXU/CxvjOZKV5/q3UJU=         male  255747
54671  agNLR+EkB18IW1Cwv51j1yGRJhOvhyu3QD8i19M1W1g=  unspecified   24820
54909  eiZ6clkqhNCBZeWaYIq3Nu+xweKbxVAscwLFY1pGJuE=       female    5850
57510  Hg8ZVXvb8gS3XIDmBEIQYTSuHn8y5VMx23OGC6W6yx8=         male   23754
58464  Mty1Tca/mQOh/+bFE1MnaRCFkmQN3JZGqOc/zhiss4A=         male   34100
59593  gd1vFGIu7U4p4eqs4Nn6rPF0xfH+zzuDcRaKgiwoAG0=  unspecified   35805
59767  v39LdBKgBXYtVDlGO4PtPL9DNqYu51zRKyPXwHwNYMY=       female   11905
62260  cMi+BVwrVcUv+B1dsbk1toJcBcWaUqn0sNlVzs38QeU=       female  230957
63601  lAky10pS4Oo2qRLG+rpuJKCYENh8go7yu3NKXlPlaXA=         male   33734
65291  OIOZD7HgizO7sU6edo3FV8PcISoZYk9lT94/WeO8h4U=       female   13285
65509  0aPEhw/2pTIGFNjeVbmCxwReZJufWPgiGidRVpssKNQ=         male   16304
70854  qPz5RRbaREPl4M9fXsfcIkMOkHhjfEisx0hdo6RIrhk=         male   25470
71369  ID9Hk94C4tzhhWahxYoBVyeWeC3rH5jOXxivn7hrp/E=       female   46495

       badges_cnt first_login_date_TW  user_grade user_city  has_teacher_cnt  \
927             7          2019-02-11           3        kh                1
1310            9          2019-02-12           5        kh                2
2899            0          2019-02-19           1        tc                0
6311            0          2019-03-10           5        tp                1
9272            3          2019-04-01           2        tp                1
9456           25          2019-04-02           7      ntpc                0
13404          16          2019-04-23           6        ty                1
14171           3          2018-08-14           7        ty                0
14749          80          2018-08-17          12        tp                0
17308           1          2018-08-29           3      ntpc                0
17478           1          2018-08-29           8        tp                0
18954          18          2018-08-31           6        ty                5
19629         115          2018-09-01           4      ntpc                2
20077           1          2018-09-02           4        ty                0
21209          36          2018-09-03           9      ntpc                1
22037          14          2018-09-04           9        hc                1
23138          20          2018-09-06           6        tn                1
24717           4          2018-09-08           3        hc                0
24937           1          2019-05-22           7       chc                1
25687          44          2018-09-10           5      ntpc                1
27104           5          2018-09-11           8       ptc                1
27424           0          2018-09-12           5        tp                1
29381          33          2018-09-14           8        hc                1
31279          23          2018-09-18           3       ptc                1
31670           7          2018-09-18           7      ntct                1
34086           1          2018-09-21           6      ntct                1
34117          12          2018-09-21           7       ptc                1
36532           0          2018-09-27           6        tp                1
38006           1          2019-06-12           5        ty                1
39180          20          2018-10-02           4       ylc                2
40442          23          2018-10-04           5      ntpc                1
40767           6          2018-10-04           8        ty                1
41645           3          2019-06-18           3        ty                1
43051           1          2019-06-21           4        tn                2
45800          56          2019-06-26           5      ntpc                2
47765           3          2018-10-18           7        tp                0
48256           3          2019-07-01           7        ml                2
49379          26          2018-10-22           5        ty                4
54671           1          2018-11-04           2        tc                1
54909           1          2019-07-18           7      ntpc                1
57510           6          2019-07-26           6        kh                0
58464           9          2019-07-29          10        kh                1
59593           9          2018-11-20           8      ntct                1
59767           1          2018-11-21           6      ttct                1
62260          15          2018-11-30           7      ntpc                1
63601           7          2018-12-06           9        kh                1
65291           3          2018-12-13           7        kh                1
65509           4          2018-12-14           6        tc                1
70854           1          2019-01-16           5        ty                1
71369           2          2019-01-17           5        hc                1

       is_self_coach  has_student_cnt  belongs_to_class_cnt  has_class_cnt
927            False                0                     1              0
1310           False                3                     2              2
2899           False                0                     0              0
6311           False                0                     1              0
9272           False                0                     1              0
9456           False                0                     0              0
13404          False                0                     1              0
14171          False                0                     0              0
14749          False                0                     0              0
17308          False                0                     0              0
17478          False                0                     0              0
18954          False                0                     9              0
19629          False                0                     2              0
20077          False                0                     0              0
21209          False                0                     1              0
22037          False                0                     1              0
23138          False                0                     0              0
24717          False                0                     0              0
24937          False                0                     1              0
25687          False                0                     1              0
27104          False                0                     1              0
27424           True                1                     1              1
29381          False                0                     1              0
31279          False                0                     1              0
31670          False                0                     1              0
34086          False                0                     1              0
34117          False                0                     1              0
36532          False                0                     1              0
38006          False                0                     1              0
39180          False                0                     2              0
40442          False                0                     1              0
40767          False                0                     0              0
41645          False                0                     1              1
43051          False                0                     1              0
45800          False                0                     2              0
47765          False                0                     0              0
48256          False                0                     1              0
49379          False                0                     4              0
54671          False                0                     1              0
54909          False                0                     1              0
57510          False                0                     0              0
58464          False                0                     2              0
59593          False                0                     1              0
59767          False                0                     1              0
62260          False                0                     1              0
63601          False                0                     1              0
65291          False                0                     1              0
65509           True                1                     1              2
70854          False                0                     1              0
71369          False                0                     1              0  >

In [16]:
usrch['is_self_coach'] = (-usrch['is_self_coach']).astype(np.int8)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
usrch["gender"].value_counts()

male           19
female         18
unspecified    13
Name: gender, dtype: int64

In [18]:
usrch["gender"] = usrch["gender"].astype('category')
usrch["gender"] = usrch["gender"].cat.codes
usrch.head() # 0 = female 1 = male 2 = unspecified

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,uuid,gender,points,badges_cnt,first_login_date_TW,user_grade,user_city,has_teacher_cnt,is_self_coach,has_student_cnt,belongs_to_class_cnt,has_class_cnt
927,y7rXih/jc7NUjVvCTJ9IaCyHUsd0MXRTRz9s0qTzM6k=,2,76099,7,2019-02-11,3,kh,1,1,0,1,0
1310,8QTcJ+3Gn35NRZipSENQWvxc5maGjW6UCBYt9AsfHe4=,2,47780,9,2019-02-12,5,kh,2,1,3,2,2
2899,dRep0pJk1LhnRFUdlM/TMxe/St5hHHohBcOEpauCZjs=,2,1050,0,2019-02-19,1,tc,0,1,0,0,0
6311,ubxkf9iTN1/m2uBKcTVBuZ3VsfSY23uo0fcpQ/OvDBY=,1,1950,0,2019-03-10,5,tp,1,1,0,1,0
9272,ZkXKNIGZN3n1g2KVMPEfLUSasmxAMKjDoBysAuh+JO8=,2,66710,3,2019-04-01,2,tp,1,1,0,1,0

In [19]:
usrch["user_city"].value_counts()

ntpc    9
ty      9
tp      7
kh      6
hc      4
tc      3
ptc     3
ntct    3
tn      2
chc     1
ylc     1
ml      1
ttct    1
Name: user_city, dtype: int64

In [20]:
usrch["user_city"] = usrch["user_city"].astype('category')
usrch["user_city"] = usrch["user_city"].cat.codes
usrch.head() # 0 = female 1 = male 2 = unspecified

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,uuid,gender,points,badges_cnt,first_login_date_TW,user_grade,user_city,has_teacher_cnt,is_self_coach,has_student_cnt,belongs_to_class_cnt,has_class_cnt
927,y7rXih/jc7NUjVvCTJ9IaCyHUsd0MXRTRz9s0qTzM6k=,2,76099,7,2019-02-11,3,2,1,1,0,1,0
1310,8QTcJ+3Gn35NRZipSENQWvxc5maGjW6UCBYt9AsfHe4=,2,47780,9,2019-02-12,5,2,2,1,3,2,2
2899,dRep0pJk1LhnRFUdlM/TMxe/St5hHHohBcOEpauCZjs=,2,1050,0,2019-02-19,1,7,0,1,0,0,0
6311,ubxkf9iTN1/m2uBKcTVBuZ3VsfSY23uo0fcpQ/OvDBY=,1,1950,0,2019-03-10,5,9,1,1,0,1,0
9272,ZkXKNIGZN3n1g2KVMPEfLUSasmxAMKjDoBysAuh+JO8=,2,66710,3,2019-04-01,2,9,1,1,0,1,0

tp - 15; tc - 13; ntpc - 10; ty - 17; kh - 5; tn - 14; ptc - 12; chc - 0; ylc - 18; hc - 2; cy - 1; ntct - 9; hlc - 3; ilc - 4; ml - 8; ttct - 16; km - 7; kl - 6; phc - 11

In [21]:
from google.colab import files
usrch.to_csv('usrch.csv') 
files.download('usrch.csv')